# Environment files
.env
.env.local
.env.*.local

# Python cache & virtualenv
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Build & node outputs
node_modules/
dist/
.netlify/

# Logs & temp files
*.log
.DS_Store

